---
layout: layout.html
title: Contact Us
description: "Contact us via phone at {{phone}} or by submitting this contact us form in regards to orders, suggestions, or customer service."
keywords: "contact,contact us,king kabob,{{location.address}},{{location.city}},{{ location.city }} {{ location.state }}{{ location.zip }},{{ location.zip }}"
---

<div class="box-full-darka">
  <div class="container">
  
  <div class="row">
			<div class="col-sm-12">
				<h2>Keep In Touch</h2>
				<p>You may contact us by using the form on this page or any of the ways below:</p>
				<ul class="fa-ul" id="keepInTouchList">
				  <li><i class="fa-li fa-lg fa fa-phone"></i>Phone: {{phone}} </li>
				  <li><hr/></li>
				  <li><i class="fa-li fa-lg fa fa-map-marker"></i><address>{{location.address}}, {{ location.city }}, {{ location.state }} {{ location.zip }} <a href="/map/">directions?</a></address> </li>
				  <li><hr/></li>
				  <li><a href="https://www.facebook.com/pages/King-Kabob/109964182399573" target="_blank"> <i class="fa-li fa-lg fa fa-facebook facebook"></i>Facebook: King-Kabob</a></li>
				  <li><hr/></li>
				  <li><i class="fa-li fa-lg fa fa-yelp yelp"></i> <a href="http://www.yelp.com/biz/king-kabob-fairfax?sort_by=rating_desc" target="_blank">Yelp: king-kabob-fairfax</a></li>
				  <li><hr/></li>
          <li><i class="fa-li fa-lg fa twitter fa-twitter"></i> <a href="https://twitter.com/KingKabob_NOVA" target="_blank">@KingKabob_NOVA</a></li>
				  <li><hr/></li>
				  <li><a href="/faq/"><i class="fa-li fa-lg fa fa-question"></i> Frequently Asked Questions</a></li>
				</ul>
			</div>
		</div>
    </div>
  </div>
