---
layout: layout.html
---
<div class="container">
    <div class="row paddingTopMobile visible-xs">
        <div class="col-xs-6 scalePaddingRightMobile">
            <a id="btnMobileCall" href="tel:{{ phone }}" class="btn btn-default btn-block fa-2x gtrack">
                <i class="fa fa-phone"></i> Call
            </a>
        </div>
        <div class="col-xs-6 scalePaddingLeftMobile">
            <a id="btnMobileContactUs" href="/contactus/" class="btn btn-default btn-block fa-2x gtrack">
                <i class="fa fa-envelope"></i> Email
            </a>
        </div>
    </div>

    <div class="row paddingTopMobile visible-xs">
        <div class="col-xs-6 scalePaddingRightMobile">
            <a id="btnMobileMenu" href="{{ eat24 }}" class="btn btn-default btn-block fa-2x gtrack">
                <i class="fa fa-file-text-o"></i> Menu
            </a>
        </div>
        <div class="col-xs-6 scalePaddingLeftMobile">
            <a id="btnMobileGallery" href="/gallery/" class="btn btn-default btn-block fa-2x gtrack">
                <i class="fa fa-photo"></i>
                <span id="mobileGalleryText">Gallery</span>
            </a>
        </div>
    </div>
</div>

<div class="parallax parallax-1">
    <h1>Seasoned to Perfection</h1>
</div>

<div class="parallax-content">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-4 text-center">
                <a id="btnDesktopGallery" href="/gallery/" class="btn  btn-link btn-block fa-2x gtrack">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-photo fa-stack-1x fa-inverse"></i>
                    </span>
                    <br/> Gallery
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a id="btnDesktopCatering" href="/catering/" class="btn  btn-link btn-block fa-2x gtrack">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <br/> Catering
                </a>
            </div>
            <div class="col-sm-4 text-center">

                <a id="btnDesktopMenu" href="{{ eat24 }}" class="btn btn-link btn-block fa-2x gtrack">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <br/> Menu
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>King Kabob is a fast-casual kabob restaurant and a full service catering provider in Fairfax, VA. We season
                    our items with a special formulated mixed of in house spices for everyone's palate. Although Afghan food
                    in general is very spicy, the food at King Kabob has been moderated so as to cater to a wider group of
                    clientèle. We are a family friendly environment offering a special menu for children.</p>
            </div>
        </div>
    </div>
</div>

<div class="parallax parallax-2">
    <h1>Fresh, made to order bread</h1>
</div>
<div class="parallax-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <hr/>
            </div>
            <div class="col-sm-4 text-center">
                <h2>Our Specialities</h2>
            </div>
            <div class="col-sm-4">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center ">
                <img alt="Wrapped gyro with chips and white sauce platter" src="images/home/wrapped-gyro-with-chips-and-white-sauce.jpg"
                    class="img-responsive img-rounded" />
                <br/>
                <strong>Wrapped Gyro</strong>
                <br/>
                <div class="text-muted text-justify">All sandwiches are wrapped in fresh made Afghan bread with lettuce, sauce and a small bag of chips. Sautéed
                    onions and jalapeño peppers are optional.</div>
                <br/>
            </div>

            <div class="col-sm-4 text-center">
                <img alt="Chicken and Ground Beef (Shami) Platter" src="images/home/chicken-ground-beef-shami-platter.jpg" class="img-responsive img-rounded"
                />
                <br/>
                <strong>Chicken and Ground Beef (Shami) Platter</strong>
                <br/>
                <div class="text-muted text-justify">One of our most popular dishes that comes with salad, naan, 1 vegetable side (Chickpeas, Green Beans, Spinach
                    or Eggplant) and 1 sauce (White or Green King Sauce).</div>
                <br/>
            </div>

            <div class="col-sm-4 text-center">
                <img alt="Chicken Platter (Boneless Chicken Breasts)" src="images/home/chicken-platter-boneless-chicken-breasts.jpg" class="img-responsive img-rounded"
                />
                <br/>
                <strong>Chicken Platter (Boneless Chicken Breasts)</strong>
                <br/>
                <div class="text-muted text-justify">Another favorite is our chicken platter with salad, naan, 1 vegetable side (Chickpeas, Green Beans, Spinach
                    or Eggplant) and 1 sauce (White or Green King Sauce)</div>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="parallax-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 text-center">

                <p>
                    <b>$8.99 Buffet</b>, Monday through Friday 11:30am - 3pm</p>
                <img src="/images/menuItems/King_Kabob_Buffet.jpg" alt="Buffet" class="img-responsive img-rounded" style="width:100%;" />

            </div>
            <div class="col-sm-6 text-center">
                <b>Free delivery</b> within 4 miles of store.
                <a href="/map/">Need directions?</a>
                <a href="/map/">
                <img src="/images/home/small-map.jpg" alt="small map of where King Kabob is" class="img-responsive img-rounded" style="width:100%;"
                /></a>
                <p class="text-justify">Minimum $15 orders.
                    <b class="text-danger"> During peak traffic times it may take us 45 to 70 minutes to delivery.</b> We are always trying to improve
                    our transportation process to keep the food hot &amp; fresh.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <br/>
                <br/>
            </div>
        </div>

        <div id="rowMobileSocial" class="row visible-xs">
            <div class="col-xs-3 text-center">
                <a id="btnMobileFacebook" class="facebook gtrack" href="https://www.facebook.com/pages/King-Kabob/109964182399573" target="_blank">
                    <i class="fa fa-4x fa-facebook-square"></i>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a id="btnMobileYelp" class="yelp gtrack" href="http://www.yelp.com/biz/king-kabob-fairfax?sort_by=rating_desc" target="_blank">
                    <i class="fa-4x fa fa-yelp"></i>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a id="btnMobileGooglePlus" class="gtrack" href="http://www.google.com/+King-kabob" target="_blank">
                    <i class="fa-4x fa fa-google-plus googleplus"></i>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a id="btnMobileUrbanSpoon" class="gtrack" href="http://www.urbanspoon.com/r/7/1475971/restaurant/DC/King-Kabob-Fairfax"
                    target="_blank">
                    <i class="fa-4x fa fa-spoon "></i>
                </a>
            </div>
        </div>
    </div>
</div>



